######################################################################
# config variables 
######################################################################

######################################################################
#Provider variable

AzureSubscriptionID                 = ""
AzureClientID                       = ""
AzureClientSecret                   = ""
AzureTenantID                       = ""

AzureADClientID                     = ""
AzureADClientSecret                 = ""

AKSAdminGroupName                   = ""


